body {
  background-color: #ffffff;
}

header{
  background-color: #333333;
  color: white;
  padding:10px;
}

footer{
  background-color: #333333;
  color: white;
  padding:10px;
}

main{

  border: 1px solid #333333;
  padding: 10px;
}


img.responsive {
    width: 100%;
    max-width: 500px;
    height: auto;     
  }

